@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@import './components/header';
@import './components/footer';

@import './pages/main';
@import './pages/news';
@import './pages/employers';
@import './pages/contacts';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    background-color: rgb(233, 233, 233);

    a {
        color: #085378;
    }
    #root {
        position: relative;
        min-height: 100vh;
        

        #root-wrapper {
            padding-bottom: 5rem;
        }

    }
}

