.contacts {
    .title {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        background-color: #158eca;
        color: white;

        
    }

    .content {
        width: 1280px;
        margin: 20px auto;
        display: flex;
        align-items: flex-start;

        .contact-list {
            background-color: white;
            display: flex;
            justify-content: center;
            border: 1px solid silver;
            margin: 0 10px;

            .mail, .phones, .facs, .adress {
                margin: 0 5px;
                padding: 20px;

                h4 {
                    padding-bottom: 10px;
                    border-bottom: 1px solid silver;
                }

                p {
                    padding-top: 10px;
                }
            }
        }

        .presidents {
            .box {
                background: white;
                border: 1px solid silver;
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .contacts {
    
        .content {
            width: 1024px;
        }
    }
    
}

@media screen and (max-width: 1024px) {
    .contacts {
    
        .content {
            width: 100%;

            .contact-list {
                flex-direction: column;
            }
            .presidents {
                display: none;
            }
        }
    }
    
}