.landing {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;

        h1 {
            font-size: 4rem;
            line-height: 1;
            font-weight: normal;
            text-shadow: 0 0 10px rgb(51, 51, 51);;
        }

        .links {
            margin-top: 40px;
            display: flex;
            justify-content: center;

            a {
                padding: 10px 40px;
                background-color: #158eca;
                box-shadow: 0 0 10px rgb(51, 51, 51);
                margin: 0 10px;
                border-radius: 5px;
                color: white;
                text-decoration: none;
                display: block;
                transition: all .3s;

                &:hover {
                    background-color: #14658d;
                }
            }
        }
        
    }
}

.virtual-access {
    padding: 20px;
    background-color: #158eca;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

    a {
        display: inline-block;
        background-color: white;
        padding: 10px 40px;
        border-radius: 5px;
        text-decoration: none;
        transition: all .3s;

        &:hover {
            background-color: silver;
        }
    }
}

.last-news {
    width: 1280px;
    margin: 0 auto;
    display: flex;
    padding: 20px;
    
    .slider {
        width: 70%;

        .legend {
            position: absolute;
            width: 100%;
            bottom: 0;
        }
    }

    .assistance {
        width: 30%;

        .image {
            width: 300px;
            margin: 0 auto;
            border-radius: 5px;
            overflow: hidden;
        }
        
        h2 {
            padding: 10px 0;
            text-align: center;
            font-size: 24px;
        }
        p {
            text-align: center;
        }
        ul {
            margin-left: 20px;
            margin-top: 10px;
        }
    }
}

.announcement {
    margin: 20px 0 100px 0;

    h1 {
        padding: 10px 0 20px 0;
        text-align: center;
    }
    .block {
        display: flex;
        justify-content: center;

        .box {
            border-radius: 5px;
            box-shadow: 0 0 10px silver;
            background-color: white;
            margin: 0 10px;
            width: 300px;
            text-align: center;
            overflow: hidden;

            .image {
                width: 300px;
            }

            p {
                margin: 5px 0;
            }

            a {
                display: inline-block;
                padding: 5px 20px;
                margin: 10px 0;
                background-color: #158eca;
                color: white;
                border-radius: 5px;
                text-decoration: none;
                font-size: 14px;
                transition: all .3s;

                &:hover {
                    opacity: .7;
                }
            }
        }

    }

    .see-more {
        display: flex;
        justify-content: center;

        a {
            padding: 10px 40px;
            text-decoration: none;
            border-radius: 5px;
            background-color: #158eca;
            color: white;
            margin-top: 20px;
            transition: all .3s;

            &:hover {
                opacity: .7;
            }
        }
    }
}

.employments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 20px 50px 20px;
    background-color: #158eca;

    .emp-box {
        margin: 10px 20px;
        color: white;
        text-align: center;

        .image {
            width: 260px;
        }

        h4 {
            margin-top: 10px;
        }

        a {
            display: block;
            width: 100%;
            padding: 10px;
            color: white;
            border: 1px solid white;
            margin-top: 20px;
            text-decoration: none;
            transition: all .5s;

            &:hover {
                background-color: white;
                color: black;
                border: 1px solid white;
            }
        }
    }
}

.partners {
    display: flex;
    justify-content: center;
    margin: 50px 20px;

    .box {
        width: 260px;
        border: 1px solid rgb(219, 219, 219);
        text-align: center;
        margin: 10px;
        padding: 20px;
        text-decoration: none;

        .logo {
            width: 80px;
            margin: 0 auto;
        }

        small {
            font-weight: bold;
        }
    }

}


@media screen and (max-width: 1280px) {
    .last-news {
        width: 1024px;
    }
}


@media screen and (max-width: 1024px) {
    .landing {
        .content {
    
            .links {
                display: block;
                text-align: center;
    
                a {
                    margin: 10px;
                }
            }
            
        }
    }

    .virtual-access {
        display: block;
        text-align: center;        
    
        a {
            margin-top: 20px;
        }
    }

    .last-news {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .slider, .assistance {
            width: 100%;
        }
    }

    
    .announcement {
        .block {
            flex-wrap: wrap;
    
            .box {
                margin: 10px;
            }
        }
    }

    .partners {
        flex-wrap: wrap;
    }

}


@media screen and (max-width: 660px) {
    .announcement {
        .block {
            flex-wrap: wrap;
    
            .box {
                width: 260px;
                
            }
        }
    }

    .employments {
    
        .emp-box {
            margin: 10px;
    
            .image {
                margin: 0 auto;
                width: 200px;
            }
        }
    }

}


@media screen and (max-width: 570px) {
    .announcement {
        .block {
            flex-wrap: wrap;
    
            .box {
                margin: 10px 20px;
                width: 100%;

                .image {
                    width: 100%;
                }
                
            }
        }
    }

    .employments {
        .emp-box {
            .image {
                width: 100%;
            }
    
        }
    }
}