.news {
    .title {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        background-color: #158eca;
        color: white;
    }

    .content {
        display: flex;
        width: 1280px;
        margin: 20px auto;

        .news-list {
            margin: 0 20px;

            .news-box {
                background-color: white;
                padding: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px silver;

                h4 {
                    padding: 10px 0;
                    border-bottom: 1px solid silver;
                }

                p {
                    margin-top: 10px;
                }

                small {
                    margin-top: 10px;
                    display: block;
                }

                a {
                    padding: 10px 20px;
                    background-color: black;
                    color: white;
                    display: inline-block;
                    margin: 10px 0;
                    text-decoration: none;
                    border-radius: 5px;
                    transition: all .3s;

                    &:hover {
                        opacity: .7;
                    }
                }
            }
        }


        .presidents {
            .box {
                background: white;
                border: 1px solid silver;
                margin-bottom: 20px;
                text-align: center;
            }
        }
    }
    
}


@media screen and (max-width: 1280px) {
    .news {
        .content {
            width: 1024px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .news {
        .content {
            width: 100%;
        }
    }
}

@media screen and (max-width: 820px) {
    .news {
        .content {
            .presidents {
                display: none;
            }
        }
    }
}