.wrapper {
    .title {
        display: flex;
        justify-content: space-between;
        padding: 30px;
        background-color: #158eca;
        color: white;

        h1 {
            font-size: 24px;
        }
    }

    .content {
        width: 1280px;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        align-items: flex-start;

        .content-list {
            width: calc(100% - 400px);
            margin: 0 10px;


            // ================================================
            .box {
                display: flex;
                padding: 10px;
                border-bottom: 1px solid silver;

                .body {
                    padding: 0 20px;

                    h2 {
                        padding-bottom: 20px;
                    }

                    .phone, .email {
                        margin-top: 20px;
                        display: flex;
                        align-items: center;

                        span {
                            margin-left: 20px;
                        }
                    }
                }
            }

            // ==================================================

            .file-box {
                display: flex;
                justify-content: space-around;
                border-top: 1px solid silver;
                border-bottom: 1px solid silver;
                margin: 10px 0;
                align-items: center;
                padding: 10px;

                h4 {
                    width: 90%;
                    font-size: 14px;
                }
                a {
                    text-align: center;
                    width: 10%;
                }
            }

            // ==================================================
            .reglament {
                .head {
                    span {
                        display: block;
                        width: 300px;
                        text-align: right;
                        margin-left: auto;
                        margin-right: 20px;
                        font-size: 14px;
                    }                
                }

                h4 {
                    text-align: center;
                    padding: 20px 0;
                }

                .reg-list {
                    display: flex;
                    flex-direction: column;

                    .reg-box {
                        h4 {
                            border-bottom: 1px solid silver;
                        }
    
                        span {
                            display: block;
                            padding: 20px;
                            font-size: 14px;
                            border-bottom: 1px solid silver;
                        }

                        a.more {
                            padding: 10px 20px;
                            background-color: black;
                            color: white;
                            display: inline-block;
                            margin: 10px 10px 10px 20px;
                            text-decoration: none;
                            border-radius: 5px;
                            transition: all .3s;
        
                            &:hover {
                                opacity: .7;
                            }
                        }
                    }
                }

                .plan-list {
                    display: flex;
                    flex-direction: column;

                    .plan-box {
                        margin-bottom: 5px;
                        border: 1px solid silver;

                        h4 {
                            text-align: left;
                            padding-left: 20px;
                            border-bottom: 1px solid silver;
                        }
    
                        span {
                            display: block;
                            padding: 20px;
                            font-size: 14px;
                            border-bottom: 1px solid silver;
                        }
                    }
                }
            }
            // =====================================================

            .employees {
                display: flex;
                flex-wrap: wrap;

                .emp-box {
                    width: 240px;
                    margin: 10px;
                    padding: 10px;
                    text-align: center;
                  
                    h4 {
                        margin: 10px 0;
                        height: 40px;
                        a {
                            text-decoration: none;
                            color: black;
                        }
                    }

                    small {
                        display: block;
                        padding-bottom: 10px;
                        border-bottom: 1px solid silver;
                    }
            
                    a.q {
                        display: block;
                        width: 100%;
                        padding: 10px;
                        border: 1px solid #158eca;
                        background-color: #158eca;
                        color: white;
                        margin-top: 20px;
                        text-decoration: none;
                        transition: all .5s;
            
                        &:hover {
                            background-color: white;
                            color: #158eca;
                            border: 1px solid #158eca;
                        }
                    }
                }
            }
            
            .emp-profile {
                display: flex;

                .image {
                    width: 280px;
                    margin: 0 20px;
                    border-radius: 5px;
                    overflow: hidden;
                }

                .profile-body {
                    width: calc(100% - 280px);
                    

                    h2 {
                        text-align: center;
                        padding-bottom: 20px;
                        border-bottom: 1px solid silver;
                    }

                    small {
                        display: block;
                        padding: 20px;
                        border-bottom: 1px solid silver;
                    }

                    span {
                        display: block;
                        padding-top: 20px;
                        font-size: 14px;
                    }
                }
            }

            // ==================================================
            .news-box {
                background-color: white;
                padding: 20px;
                margin-bottom: 20px;
                border-radius: 5px;
                box-shadow: 0 0 10px silver;

                h4 {
                    padding: 10px 0;
                    border-bottom: 1px solid silver;
                }

                p {
                    margin-top: 10px;
                }

                .date {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 110px;
                }

                small {
                    margin-top: 10px;
                    display: block;
                }

                a {
                    padding: 10px 20px;
                    background-color: black;
                    color: white;
                    display: inline-block;
                    margin: 10px 0;
                    text-decoration: none;
                    border-radius: 5px;
                    transition: all .3s;

                    &:hover {
                        opacity: .7;
                    }
                }
            }

            .news-body {
                text-align: center;
                
                h4 {
                    padding: 20px;
                    border-bottom: 1px solid silver;
                    
                }
                span {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 20px;
                    border-bottom: 1px solid silver;
                    small {
                        margin-left: 10px;
                    }
                }

                .body {
                    padding: 20px;
                    font-size: 14px;
                    text-align: left;
                }
                    
                
            }

            // ======================================================

            .contact-list {
                display: flex;
                justify-content: center;
                border: 1px solid silver;
                margin: 0 10px;
    
                .mail, .phones, .facs, .adress {
                    margin: 0 5px;
                    padding: 20px;
    
                    h4 {
                        padding-bottom: 10px;
                        border-bottom: 1px solid silver;
                    }
    
                    p {
                        padding-top: 10px;
                        font-size: 14px;
                    }
                }
            }

            // ===========================================
            .form {
                width: 80%;
                padding: 20px;
                display: flex;
                flex-direction: column;

                .form-group {
                    padding: 10px 0;

                    input, select, textarea {
                        width: 100%;
                        padding: 10px;
                        font-size: 14px;
                        border-radius: 5px;
                        font-family: "Inter", sans-serif;
                        border: 1px solid silver;
                    }

                    textarea {
                        resize: vertical;
                    }

                    button {
                        padding: 7px 40px;
                        background-color: black;
                        color: white;
                        cursor: pointer;
                        font-size: 14px;
                        font-family: 'Inter', sans-serif;
                        border-radius: 5px;
                        transition: all .3s;

                        &:hover {
                            opacity: .7;
                        }
                    }
                }
            }
        }


        // ================================================

        .presidents {
            width: 280px;


            .box {
                margin-bottom: 20px;
                text-align: center;

                h4, small {
                    padding: 0 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .wrapper {
    
        .content {
            width: 1024px;

            .content-list {
                width: 100%;
            }
        }
    }
    
}

@media screen and (max-width: 1024px) {
    .wrapper {
        .title {
            h1 {
                font-size: 20px;
                text-align: center;
            }
        }
        .content {
            width: 100%;

            .content-list {
                flex-direction: column;

                // ================================
                .box {
                    .image {
                        width: 30%;
                    }

                    .body {
                        width: 70%;
                        
                        h2 {
                            font-size: 18px;
                            text-align: center;
                        }

                        small {
                            display: block;
                            text-align: center;
                        }

                        .phone, .email {
                            margin-top: 10px;
    
                            span {
                                margin-left: 10px;
                                font-size: 14px;
                            }
                        }
                    }
                }
                

                // =================================
                .reglament {
                    .reg-list {
                        overflow-x: auto;
                    }
                }

                
                // ===================================
                .employees {
                    justify-content: center;

                    .emp-box {
                        width: 280px;
                       
                    }
                }

                .emp-profile {
                    flex-direction: column;
                    align-items: center;

                    .profile-body {
                        width: 100%;

                        small {
                            text-align: center;
                        }
                    }
                }
                
                // ========================================

                .contact-list {
                    display: flex;
                    flex-direction: column;
                }

            }

            // =========================
            .presidents {
                display: none;
            }
        }
    }
    
}