.up-header {
    background-color: white;

    .up-header-block {
        width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;

        a {
            color: #085378;
            text-decoration: none;
            transition: all .3s;

            &:hover {
                color: gray;
            }
        }
    }
}


.down-header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: white;
    border-bottom: 1px solid silver;

    .down-header-block {
        width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
 

        .logo {
            display: flex;
            align-items: center;
            padding: 10px 0;
            
            a {
                width: 160px;
                display: block;
                display: flex;
            }

            h3 {
                margin-left: 10px;
                font-weight: 600;
                max-width: 200px;
            }
        }

        .contacts {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .phone, .email, .social-network {
                display: flex;
                align-items: center;
                margin: 0 20px;
                font-size: 14px;
                color: #085378;

                .value {
                    padding-left: 10px;
                }
            }
            
        }

        .search {
            cursor: pointer;
        }
    }
}

.navbar {
    background-color: #085378;
    padding: 30px 0;

    .burger-menu {
        display: none;
        padding: 0 20px;
        justify-content: space-between;
        align-items: center;

        img {
            cursor: pointer;
        }
    }

    nav {
        width: 1024px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    
        
        .menu {
            position: relative;

            p {
                font-size: 14px;
                color: white;
                text-transform: uppercase;
                transition: all .3s;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    color: silver;
                }
            }

            .select-down {
                position: absolute;
                background-color: white;
                z-index: 10;
                box-shadow: 0 0 10px rgb(100, 100, 100);
                border-radius: 5px;
                width: 300px;

                display: none;
                
                a {
                    font-size: 14px;
                    color: black;
                    display: block;
                    font-weight: normal;
                    text-transform: capitalize;
                    padding: 10px;
                    border-bottom: 1px solid silver;
                    transition:  all .4s;

                    &:hover {
                        background-color: silver;
                    }
                }
            }

            .last {
                left: -120px;
            }

            &:hover > .select-down {
                display: block;
            }
        }

        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .3s;
            font-weight: bold;
            font-size: 14px;
    
            &:hover {
                color: silver;
            }
        }
    }
}



// Mediaquery


@media screen and (max-width: 1300px) {
    .navbar {
        nav {
            width: 1200px;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        
            
            .menu {
                position: relative;
    
                p {
                    color: white;
                    text-transform: uppercase;
                    transition: all .3s;
                    font-weight: bold;
                    cursor: pointer;
    
                    &:hover {
                        color: silver;
                    }
                }
    
                .select-down {
                    position: absolute;
                    background-color: white;
                    z-index: 10;
                    box-shadow: 0 0 10px rgb(100, 100, 100);
                    border-radius: 5px;
                    width: 300px;
    
                    display: none;
                    
                    a {
                        color: black;
                        display: block;
                        font-weight: normal;
                        text-transform: capitalize;
                        padding: 10px;
                        border-bottom: 1px solid silver;
                        transition:  all .4s;
    
                        &:hover {
                            background-color: silver;
                        }
                    }
                }
    
                .last {
                    left: -120px;
                }
    
                &:hover > .select-down {
                    display: block;
                }
            }
    
            a {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                transition: all .3s;
                font-weight: bold;
        
        
                &:hover {
                    color: silver;
                }
            }
        }
    }
}

// 1280px
@media screen and (max-width: 1280px) {
    .down-header {
        .down-header-block {
            width: 1024px;
        }
    }

    .navbar {
        nav {
            width: 1024px;
        }
    }
}


// for 1024px
@media screen and (max-width: 1060px) {
    .up-header {
    
        .up-header-block {
            width: 100%;
            padding: 10px 20px;
            justify-content: center;

            a {
                display: block;
                font-size: 14px;
                padding: 0 10px;
                text-align: center;
            }
        }
    }
    

    .down-header {
        .down-header-block {
            width: 100%;
            padding: 0 20px;
            justify-content: center;
     
    
            .logo {
                a {
                    width: 120px;
                }
            }
    
            .contacts {
                justify-content: center;
    
                .phone, .email, .social-network {
                    margin: 0 10px;
                    font-size: 12px;

                }
            }
    
            .search {
                a {
                    padding: 5px;
                }
            }
        }
    }

    .navbar {
        nav {
            width: 100%;
            padding: 0 20px;
            justify-content: center;
            text-align: center;
        
            
            .menu {
                p {
                    font-size: 14px;
                    padding: 0 5px;
                }
    
                .select-down {
                    a {
                        font-size: 14px;
                    }
                }
            }
    
            a {
                font-size: 14px;
                padding: 0 5px;
            }
        }
    }
}

@media screen and (max-width: 920px) {
    .down-header {
        .down-header-block {
            padding-bottom: 10px;
            flex-wrap: wrap;
        }
    }

    .navbar {
        nav {
            .menu {
                p {
                    font-size: 12px;
                    padding: 0 5px;
                }
    
                .select-down {
                    width: 220px;
                    a {
                        font-size: 12px;
                    }
                }
            }

            a {
                font-size: 12px;
            }
        }
    }
}

// For 720px
@media screen and (max-width: 720px) {
    .up-header {
        display: none;
    }

    .down-header {
        position: static;
        
        .down-header-block {
            .contacts, .search {
                display: none;
            }
        }
    }

    .navbar {
        position: sticky;
        top: 0;
        z-index: 100;
        padding: 20px 0;

        .burger-menu {
            display: flex;
        }
        nav {
            display: none;
        }
    }
}




@media screen and (max-width: 570px){
    .down-header {
        .down-header-block {
            .logo {
                a {
                    width: 100px;
                }
    
                h3 {
                    max-width: 160px;
                    font-size: 16px;
                }
            }
        }
    }


}

    